.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 5px 5px 0px green;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.safety-button {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  width: 40vh;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.safety-button:hover {
  background-color: #0056b3;
}

.App {
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  max-width: 80%;
}